body {
    display: flex;
    justify-content: center;
    text-align: center;
}
.botoes{
    display: flex;
    justify-content: space-around;
    height: 10vh;
    width: 100%;

    & button {
        font-size:xx-large;
        cursor: pointer;
        width: 150px;

        
    }
}


    
@keyframes colorido {
    0% {
        background-color: rgb(89, 0, 255);
    }
    25% {
        background-color: rgb(170, 53, 73);
    }
    40% {
        background-color: rgb(255, 0, 119);
    }
    55% {
        background-color: rgb(132, 0, 255);
    }
    70% {
        background-color: purple;
    }
}
